[submodule "sites/quickstart/themes/ananke"]
	path = sites/quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "sites/quickstart/themes/relearn"]
	path = sites/quickstart/themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn
[submodule "sites/hugo/themes/relearn"]
	path = sites/hugo/themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn
[submodule "sites/hugo/themes/docsy"]
	path = sites/hugo/themes/docsy
	url = https://github.com/google/docsy.git
[submodule "sites/hugo/themes/hugo-book"]
	path = sites/hugo/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "sites/hugo/themes/hugo-universal-theme"]
	path = sites/hugo/themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme
[submodule "sites/themes/ananke"]
	path = sites/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "sites/themes/hugo-hero-theme"]
	path = sites/themes/hugo-hero-theme
	url = https://github.com/zerostaticthemes/hugo-hero-theme.git
[submodule "sites/themes/docsy"]
	path = sites/themes/docsy
	url = https://github.com/google/docsy.git
[submodule "sites/hugo/themes/shadocs"]
	path = sites/hugo/themes/shadocs
	url = https://github.com/jgazeau/shadocs.git
