{% extends "base.html" %}
{% block mainheader %}Notebooks{% endblock %}
{% block content %}
    <ul class="list-group list-group-flush">
      {% for x in result %}
      <li class="list-group-item">
        <div class="row justify-content-between">
          <div class="col-4">
            {{ x.title }}
          </div>
          <div class="col-4">
            {{ x.date }}
          </div>
          <div class="col-4">
            {{ x.self }}
            <a class="btn btn-primary btn-sm" href="/notebook?url={{ x.self }}" role="button">Get</a>
            </div>
          </div>
      </li>
{% endfor %}
</ul>
{% endblock %}
