<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    
    <title>Jamstack{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">
        <h1>{% block mainheader %}{% endblock %}</h1>
        <hr>
        {% block buttons %}{% endblock %}
        {% block content %}{% endblock %}
        {% block elements %}{% endblock %}
    </div>
</body>

</html>