{% extends "base.html" %}
{% block elements %}
{{result|length}} elements
<hr>
<table id="data" class="table table-striped">
    <thead>
        <tr>
          <td>Content</td>            
          <td>What</td>
          <td>IDs</td>
          <td>Title</td>            
          <td>Date</td>            
          <td>Author</td>            
          <td>Content</td>            
      </tr>
    </thead>
    <tbody>
    {% for x in result %}
      <tr>
        <td>
          {% if x.body is string %}
            <a class="btn btn-secondary" href="/element?id={{ x.id }}"" target="_blank" role="button">Display</a>
          {% endif %}
        </td>
        <td>{{ x.source }}.{{ x.what }}<br>[{{ x.type }}]</td>
        <td>{{ x.id }}<br>[{{ x.parent }}]<br>[{{ x.childs }}]</td>
        <td>{{ x.title }}</td>
        <td>
          {% if x.modified > x.created %}
            {{ x.modified }}
          {% else %}
            {{ x.created }}
          {% endif %}
        </td>
        <td>{{ x.authors }}</td>
        <td>
          {% if x.body is string %}
            {{ x.body }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script>
  $(document).ready(function () {
    $('#data').DataTable({
      columns: [
        {orderable: false, searchable: false},
        {orderable: true, searchable: true},
        {orderable: false, searchable: true},
        {orderable: false, searchable: true},
        {orderable: false, searchable: false},
        {orderable: false, searchable: true},
        {orderable: false, searchable: true},
      ],
    });
  });
</script>
{% endblock %}