{% extends "index.html" %}
{% block elements %}
{% if 'elements' in result %}
{% if result.elements|length > 0 %}
    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <td width="80%">Name</td>
                <td width="15%">Date</td>            
                <td width="5%"></td>            
            </tr>
        </thead>
        <tbody>
        {% for ele in result.elements %}
            <tr>
                <td>
                    <p>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse{{ ele.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ ele.id }}">
                            {{ ele.name }}
                        </a>
                    </p>
                    <div class="collapse" id="collapse{{ ele.id }}">
                        <div class="card card-body">
                            {% if 'body' in ele %}
                            <span>{{ ele.body }}</span>
                            {% endif %}
                        </div>
                    </div>
                </td>
                <td>{{ ele.date }}</td>
                <td><a class="btn btn-secondary btn-sm" href="/{{ ele.source }}?id={{ ele.id }}" target="_blank" role="button">👓</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
{% endif %}
{% endif %}
{% endblock %}
