{% extends "base.html" %}
{% block buttons %}
{% if 'catalog' in result %}
{% if result.catalog|length > 0 %}
  <div>
    {% for cat in result.catalog %}
      {% if cat.source == 'onenote' %}
        <a class="btn btn-primary btn-sm" href="/{{ cat.source }}?command={{ cat.url }}" role="button">{{ cat.name }}</a>
      {% elif cat.source == 'notes' %}
        <a class="btn btn-secondary btn-sm" href="/{{ cat.source }}?command={{ cat.url }}" role="button">{{ cat.name }}</a>
      {% elif cat.source == 'itmz' %}
        <a class="btn btn-info btn-sm" href="{{ cat.href }}" role="button">{{ cat.name }}</a>
      {% endif %}
    {% endfor %}
  </div>
  <hr>
{% endif %}
{% endif %}
{% endblock %}
