{% extends "base.html" %}
{% block mainheader %}JamStack{% endblock %}
{% block buttons %}
    <div valign="middle">
      <a class="btn btn-success" href="/login" role="button">Login</a>
      <a class="btn btn-danger" href="/logout" role="button">Logout</a>
    </div>
    <hr>
    {% for c in result.catalog %}
        {% if c.source == 'onenote' %}
          <a class="btn btn-primary" href="/{{ c.source }}?command={{ c.command }}" role="button">{{ c.name }}</a>
        {% endif %}
    {% endfor %}
    <hr>
    {% for c in result.catalog %}
        {% if c.source == 'itmz' %}
            <a class="btn btn-primary" href="{{ c.href }}" role="button">{{ c.name }}</a>
        {% endif %}
    {% endfor %}
    <hr>
{% endblock %}
